/* .navbar {
  background-color: rgb(244, 244, 31);
  color: white;
} */
#output__field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.note--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 250px;
  border: 1px black solid;
  border-radius: 12px;
  padding: 15px;
  position: relative;
}

.delete--note {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}
.add--note {
  font-size: 20px;
}
